<template>
  <div>
    <b-container>
      <b-row>
        <b-col cols="10">
            <b-form-file
            v-model="file1"
            :state="Boolean(file1)"
            placeholder="Drop your fastq files here..."
            drop-placeholder="Drop file here..."
            ></b-form-file>
        </b-col>
        <b-col cols="2">
        <b-button variant="primary" @click="performAnalysis">
            Start Analysis
        </b-button>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
const reader = new FileReader();
export default {
  data() {
    return {
      file1: null,
    };
  },
  methods: {
      performAnalysis(){
      //reader.onload = e => console.log(e.target.result);
      reader.onload = function(e){
          let text = e.target.result
          //console.log(text)
          console.log(text.split("QC")[0])
      }
          reader.readAsText(this.file1);
      }
  }
};
</script>

<style scoped>
</style>