<template>
  <div>
    <b-container>
      <b-row>
        <b-col cols="2" class="my-1">
          <b-form-group>
            <b-input-group class="mt-3" size="sm">
              <b-form-input
                id="filter-input"
                v-model="geneName"
                type="search"
                placeholder="Search Hugo Symbol"
                @keyup="searchSymbol"
              ></b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="2">
          <span class="d-flex justify-content-start mr-5 bold font-weight-bold"
            >Pop. Database</span
          >
          <b-form-select
            size="sm"
            v-model="databaseName"
            :options="databaseArr"
          >
          </b-form-select>
          <b-form-select
            v-if="databaseName !== 'dbSNP'"
            size="sm"
            v-model="currentThresh"
            :options="varthreshArr"
            v-on:change="genomeFilter"
          >
          </b-form-select>
          <b-form-select
            v-else
            size="sm"
            v-model="currentThresh"
            :options="dbsnpArr"
            v-on:change="dbSNPFilter"
          >
          </b-form-select>
        </b-col>
        <b-col cols="2">
          <span class="mr-5 font-weight-bold">Consequence</span>
          <b-form-select
            size="sm"
            v-model="currentConsequence"
            :options="consequenceList"
          >
          </b-form-select>
        </b-col>
        <b-col cols="2">
          <span class="d-flex justify-content-start font-weight-bold"
            >Comp. Prediction</span
          >
          <b-form-select size="sm" v-model="toolName" :options="toolListArray">
          </b-form-select>
          <b-form-select size="sm" v-model="predictionType" :options="predList">
          </b-form-select>
        </b-col>
        <b-col cols="2">
          <span class="d-flex justify-content-start font-weight-bold"
            >Clinical Significance</span
          >
          <b-form-select size="sm" v-model="tierType" :options="tierArray">
          </b-form-select>
          <b-form-select
            size="sm"
            v-model="evidenceType"
            :options="evidenceArray"
          >
          </b-form-select>
        </b-col>
        <b-col cols="1">
          <b-button
            class="mt-4"
            size="sm"
            variant="danger"
            @click="resetEverything()"
          >
            Reset
          </b-button>
        </b-col>
      </b-row>
      <b-row> </b-row>
      <hr />
      <b-row v-if="spinnerState">
        <b-pagination
          v-model="currentPage"
          :total-rows="allrows"
          :per-page="perPage"
          aria-controls="my-table"
        ></b-pagination>
        <span
          class="ml-2 font-weight-bold"
          v-if="allDataComputed.length < allDataCopy.length"
        >
          Filtered Items: {{ allDataComputed.length }}
        </span>
        <b-table
          id="my-table"
          bordered
          responsive
          hover
          small
          :items="allDataComputed"
          :current-page="currentPage"
          :per-page="perPage"
          @filtered="onFiltered"
        ></b-table>
      </b-row>
      <b-row v-else>
        <b-col>
            <div class="d-flex justify-content-center mb-3">
              <b-spinner type="grow" variant="primary" label="Loading Variants..."></b-spinner>
              <strong class="ml-3">Loading variants....</strong>
            </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import * as Papa from "papaparse";
import * as _ from "lodash";
export default {
  data() {
    return {
      allData: [],
      spinnerState: false,
      currentPage: 1,
      perPage: 20,
      currentThresh: null,
      predictionType: null,
      databaseName: null,
      toolName: null,
      geneName: "",
      allDataCopy: [],
      consequenceList: [],
      databaseArr: [
        { value: null, text: "Select DB" },
        { value: "1000 Genomes", text: "1000 Genomes" },
        { value: "Exome Seq Project", text: "Exome Seq Project" },
        { value: "EXAC", text: "EXAC" },
        { value: "dbSNP", text: "dbSNP" },
        { value: "All", text: "All" },
      ],
      dbsnpArr: [
        { value: null, text: "Presence Type" },
        { value: "present", text: "Present" },
        { value: "absent", text: "Absent" },
        { value: "All", text: "All" },
      ],
      varthreshArr: [
        { value: null, text: "Select Thresh" },
        { value: "gt1", text: ">=1" },
        { value: "lt1", text: "<1" },
        { value: "All", text: "All" },
      ],
      toolListArray: [
        { value: null, text: "Select Tool" },
        { value: "SIFT", text: "SIFT" },
        { value: "PolyPhen", text: "Polyphen2" },
        { value: "MutationTaster", text: "MutationTaster" },
        { value: "MutationAssessor", text: "MutationAssessor" },
        { value: "Provean", text: "PROVEAN" },
        { value: "All", text: "All" },
      ],
      toolPredictionList: ["", "benign", "damaging"],
      predList: [
        { value: null, text: "Select Prediction" },
        { value: "benign", text: "Benign" },
        { value: "damaging", text: "Damaging" },
        { value: "All", text: "All" },
      ],
      Tiers: ["I", "II", "III", "IV", "All"],
      tierArray: [
        { value: null, text: "Select Tier" },
        { value: "I", text: "I" },
        { value: "II", text: "II" },
        { value: "III", text: "III" },
        { value: "IV", text: "IV" },
        { value: "All", text: "All" },
      ],
      tierType: null,
      evidenceArray: [
        { value: null, text: "Select Evidence" },
        { value: "A", text: "A" },
        { value: "B", text: "B" },
        { value: "C", text: "C" },
        { value: "D", text: "D" },
        { value: "All", text: "All" },
      ],
      evidenceType: null,
      Evidence: ["A", "B", "C", "D", "All"],
      currentConsequence: null,
      filterState: false,
    };
  },
  computed: {
    allDataComputed: function () {
      if (this.databaseName === "dbSNP") {
        return this.evidenceSelected(
          this.tierSelected(
            this.filterByPrediction(
              this.consequenceSelected(
                this.dbSNPFilter(this.searchSymbol(this.allData))
              )
            )
          )
        );
      } else {
        return this.evidenceSelected(
          this.tierSelected(
            this.filterByPrediction(
              this.consequenceSelected(
                this.genomeFilter(this.searchSymbol(this.allData))
              )
            )
          )
        );
      }
    },
    allrows: function () {
      return this.allDataComputed.length;
    },
  },
  methods: {
    loadData() {
      let that = this;
      Papa.parse("https://129.114.104.79.nip.io/testdata/test.tsv", {
        download: true,
        worker: true,
        header: true,
        comments: "#",
        step: function (row) {
          row.data.SIFT = _.sample(that.toolPredictionList);
          row.data.PolyPhen = _.sample(that.toolPredictionList);
          row.data.MutationTaster = _.sample(that.toolPredictionList);
          row.data.MutationAssessor = _.sample(that.toolPredictionList);
          row.data.Provean = _.sample(that.toolPredictionList);
          row.data.Tier = _.sample(["I", "II", "III", "IV"]);
          row.data.Evidence = _.sample(["A", "B", "C", "D"]);
          that.allData.push(row.data);
          that.headers = Object.keys(row.data);
        },
        complete: () => {
          this.spinnerState = true;
          console.log("All data loaded");
          this.getConsequence();
        },
      });
    },
    onFiltered() {
      this.currentPage = 1;
    },
    searchSymbol(mydata) {
      let filteredData = _.filter(mydata, (obj) => {
        if (this.geneName !== "") {
          return (
            obj["Hugo_Symbol"]
              .toLowerCase()
              .indexOf(this.geneName.toLowerCase()) > -1
          );
        } else {
          return true;
        }
      });
      return filteredData;
    },
    genomeFilter(mydata) {
      let thresh = this.currentThresh;
      let filteredData = _.filter(mydata, (obj) => {
        if (thresh === "gt1") {
          return obj.AF >= 1;
        } else if (thresh === "lt1") {
          return obj.AF < 1;
        } else {
          return true;
        }
      });
      return filteredData;
    },
    dbSNPFilter(mydata) {
      let item = this.currentThresh;
      let filteredData = _.filter(mydata, (obj) => {
        if (item === "present") {
          return obj.dbSNP_RS !== "novel";
        } else if (item === "absent") {
          return obj.dbSNP_RS === "novel";
        } else {
          return true;
        }
      });
      return filteredData;
    },

    getConsequence() {
      let uniqConsequence = _.compact(
        _.uniq(
          _.map(this.allData, (obj) => {
            return obj.Consequence;
          })
        )
      );
      uniqConsequence.push("All");
      let consequenceObjArr = [{ value: null, text: "Consequence" }];
      uniqConsequence.forEach((item) => {
        let tmpobj = { value: item, text: item };
        consequenceObjArr.push(tmpobj);
      });
      this.consequenceList = consequenceObjArr;
    },
    consequenceSelected(mydata) {
      let consequence = this.currentConsequence;
      let filteredData = _.filter(mydata, (obj) => {
        if (consequence === "All" || consequence === null) {
          return true;
        } else {
          return obj.Consequence == consequence;
        }
      });
      return filteredData;
    },
    filterByPrediction(mydata) {
      let tool = this.toolName;
      let prediction = this.predictionType;

      let filteredData = _.filter(mydata, (obj) => {
        if (prediction === "All" || prediction === null) {
          return true;
        } else {
          return obj[tool] == prediction;
        }
      });
      return filteredData;
    },
    tierSelected(mydata) {
      let tier = this.tierType;

      let filteredData = _.filter(mydata, (obj) => {
        if (tier === "All" || tier === null) {
          return true;
        } else {
          return obj.Tier == tier;
        }
      });
      return filteredData;
    },
    evidenceSelected(mydata) {
      let evidence = this.evidenceType;
      let filteredData = _.filter(mydata, (obj) => {
        if (evidence === "All" || evidence === null) {
          return true;
        } else {
          return obj.Evidence == evidence;
        }
      });
      return filteredData;
    },
    resetEverything() {
      this.toolName = null;
      this.tierType = null;
      this.predictionType = null;
      this.currentThresh = null;
      this.evidenceType = null;
      this.currentConsequence = null;
      this.databaseName = null;
    },
  },
  mounted() {
    this.loadData();
    this.allDataCopy = this.allData;
  },
};
</script>

<style scoped>
</style>